*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100dvw;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  align-items: center;
  background-color: #202123;
  color: #333;
}

a {
  text-decoration: none;
}

.navbar {
  background-color: #2cf354;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  margin-bottom: 35px;
}

header {
  background-color: #2cf354;
  color: black;
  padding: 20px;
  text-align: center;
}

main {
  padding: 40px;
  width: 100dvw;
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: 40px;
  transition: font-size 0.3s;
}
.title {
  color: #2cf354;
  font-size: 40px;
  transition: font-size 0.3s;
}

.title-container {
  width: 220px;
}

h2 {
  color: #333;
  margin-bottom: 10px;
}

h1 span {
  color: #8400fffa;
}
p span {
  color: #8400fffa;
}
h2 span {
  color: #8400fffa;
}
.form-section,
.expenses-section {
  background: #2cf354;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: 500;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  margin-bottom: 10px;
  background-color: transparent;
  padding: 8px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

.add-gasto {
  padding: 10px 20px;
  background-color: #8400fffa;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  transition: background-color 0.3s;
}
.add-gasto:hover {
  background-color: #28a745;
  transition: background-color 0.3s;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #333;
  color: #222;
  padding: 10px;
  text-align: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

button {
  background-color: #8400fffa;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.4s, opacity 0.3s;
}

button:hover {
  opacity: 0.8;
  background-color: #28a745;
  transition: background-color 0.3s, opacity 0.3s;
}

.footer {
  background-color: #2cf354;
  color: black;
  text-align: center;
  font-weight: 500;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
}

.footer p {
  margin-bottom: 0;
}

.salida {
  color: red;
}

.checkbox-group {
  display: flex;
  gap: 1rem;
}

.checkbox-group label {
  display: flex;
  align-items: center;
}

.checkbox-group input[type="radio"] {
  margin-right: 0.5rem;
}

input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
  font-weight: 400;
  font-size: 14px;
}
input[type="radio"] + label span {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: -2px 10px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid #ffffff;
}
input[type="radio"] + label span {
  background-color: #fff;
}
input[type="radio"]:checked + label {
  color: #333;
  font-weight: 600;
}
input[type="radio"]:checked + label span {
  background-color: #8400fffa;
  border: 2px solid #ffffff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  transition: background-color 0.24s linear;
}

.input-main {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #333;
}

.mensaje {
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  text-align: center;
}

.success {
  background-color: #d4edda;
  color: #155724;
  font-weight: 600;
  border: none;
  padding: 10px 15px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.4s;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
  font-weight: 600;
  border: none;
  padding: 10px 15px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.4s;
}

.edit-button {
  background-image: url("../assets/edit.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  width: 3%;
  height: 30px;
}

.delete-button {
  background-image: url("../assets/delete-icon.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.monto-salida {
  color: rgb(255, 0, 0);
}

#totales {
  justify-content: space-between;
  margin-top: 20px;
}

#grafico-gastos {
  width: 100% !important;
  height: 400px; /* Ajusta según tus necesidades */
}

.grafico-section {
  background: #2cf354;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: 500;
}

.container {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 30px;
  height: 23px;
  cursor: pointer;
}

.bars {
  width: 30px;
  height: 4px;
  background: #2cf354;
}

.bars::before,
.bars::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background: #2cf354;
}

.bars::before {
  margin-top: 9px;
}

.bars::after {
  margin-top: 18px;
}

nav {
  position: absolute;
  width: 100%;
  height: 40px;
  background: #2cf354;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -200vw;
  top: 0;
}

nav ul {
  list-style: none;
  position: relative;
  top: -10%;
}

nav ul li {
  margin: 50px 0;
}

nav ul li a {
  color: #000;
  font-size: 2em;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  opacity: 0;
  pointer-events: none;
}

nav ul li a:after {
  content: "";
  width: 100%;
  position: absolute;
  height: 3px;
  border-radius: 5px;
  background: #000;
  bottom: -10px;
  left: 0;
  transform-origin: left;
  transition: transform 0.5s ease;
  transform: scaleX(0);
}

nav ul li a:hover:after {
  transform: scaleX(1);
}

nav .close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 6%;
  right: 5%;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
}

nav h1 {
  position: absolute;
  top: 5%;
  left: 5%;
  opacity: 1;
  color: #000;
  font-size: 2em;
  cursor: pointer;
  transition: font-size 0.3s;
}

nav .close div::before,
nav .close div::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background: #000;
  transition: background 0.5s ease;
}
nav .close div::before {
  transform: rotate(-45deg);
}

nav .close div::after {
  transform: rotate(45deg);
}

nav .close:hover div::before,
nav .close:hover div::after {
  background: #8400fffa;
}

/* FORMULARIO CONTACTO */

.label {
  color: #ffffff;
  font-weight: 600;
}

.input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #2cf354;
  color: #ffffff;
}
.input-text {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #2cf354;
  color: #ffffff;
}

.textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
}

.button {
  padding: 10px 20px;
  background-color: #8400fffa;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  transition: background-color 0.3s;
}
/* MEDIA QUERIES */

@media (max-width: 992px) {
  h1 {
    font-size: 25px;
    transition: font-size 0.3s;
  }
  h2 {
    font-size: 1.2rem;
    transition: font-size 0.3s;
  }
}

@media (max-width: 501px) {
  table {
    width: 100%;
    border-collapse: collapse;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}

@media (max-width: 303px) {
  nav {
    top: 0;
  }
}
